@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

html {
    font-size: 62.5%;
}

body {
    font-family: $OpenSans;
    font-size: $mdFont;
    background-color: $white;
}
